@media screen and (max-width: 700px){
    
    .cabecalho {
        display: flex;
        flex-direction: column;       
       
    }
    
    .cabecalho-imagem {
        display: block;
        align-items: center;
        height: 72px; /*altura da imagem*/
        margin-bottom: 16px;
    
    }    
    .conteudo {
        margin-bottom: 48px;
        border-top: 0.4px solid #FFF2E7;
    
    }

    .conteudo-principal {       
        flex-direction: column;       
        
    }

    .conteudo-principal-imagem {
        display: block;        
        align-items: center;
        height: 130px;
        margin-top: 1em;
    }
    
    .cabecalho-menu-item {
         font-size: 15px;
    }
    
    
    .conteudo-principal-escrito-titulo {
        text-align: center;             
    }

    .conteudo-principal-escrito-subtitulo {               
       font-size: 22px;
       text-align: center;
       margin: 0 1em;
    }

        
    .conteudo-principal-escrito-botao {
        text-align: center;
        margin: auto;         
             
    }   
    
    .conteudo-secundario {
       text-align: center;
       margin: 0 1em;
    }

        
    .conteudo-secundario-paragrafo {
        font-family: 'Sarala', sans-serif;
        font-weight: 300;
        font-size: 12px;
        color: #ECD6C4;
    }

}